<!DOCTYPE html>

<html ng-app="pat"> <!-- SCOPE pat -->
<head>
    <meta charset="utf8"/>
    <title>PAT - Process Acceptance Testing</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>

    <!-- Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/study_assets/pat/libs/jquery/jquery-3.1.1.min.js"></script>

    <!-- JATOS -->
    <script type="text/javascript" src="/study_assets/pat/libs/jatos/jatos.js"></script>

    <!-- SurveyJS -->
    <script type="text/javascript" src="/study_assets/pat/libs/surveyjs/survey.ko.min.js"></script>

    <!-- AngularJS -->
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-animate.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-resource.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-route.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-sanitize.js"></script>

    <!-- 3rd Party -->
    <script type="text/javascript" src="/study_assets/pat/libs/3rdparty/ngBonita.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/3rdparty/ngStorage.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/review.controller.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/review2.controller.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/submit.controller.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/submit2.controller.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/submit3.controller.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/submit4.controller.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/submit5.controller.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/submit6.controller.js"></script>

    <!-- Service/Factory -->
    <script type="text/javascript" src="/study_assets/pat/scripts/services/processDataOp.service.js"></script>

    <!-- Config -->
    <script type="text/javascript" src="/study_assets/pat/scripts/configs/bonita.conf.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/configs/cookie.conf.js"></script>

    <!-- Local -->
    <script type="text/javascript" src="/study_assets/pat/scripts/app.js"></script>
</head>

<body>

<div class="page-header" style="text-align: center">
    <h3>Questionnaire 1</h3>
    <h4>Experiment 1 - Mechanical Turk</h4>
</div>

<!-- Survey -->
<div class="container">
    <div id="SurveyExperiment1"></div>
</div> <!-- end container -->

<script>

    var resultDataInJason;

    jatos.onLoad(function () {
        Survey.Survey.cssType = "bootstrap";
        var survey            = new Survey.Survey(
                {
                    pages                                          : [{
                        name     : "page1",
                        questions: [{
                            type      : "radiogroup",
                            choices   : [{
                                value: "value1",
                                text : "I felt good and understood the process immediately."
                            }, {value: "value2", text: "I felt insecure and the process was miserly explained."}],
                            isRequired: true,
                            name      : "What did you feel during the execution of the process?"
                        }, {
                            type      : "radiogroup",
                            choices   : [{
                                value: "value1",
                                text : "The process design is practical and well designed."
                            }, {value: "value2", text: "The process design is awfully implemented and complicated."}],
                            isRequired: true,
                            name      : "What did you think during the process?"
                        }, {
                            type      : "radiogroup",
                            choices   : [{
                                value: "value1",
                                text : "I would like to keep this travel request process."
                            }, {
                                value: "value2",
                                text : "I would like to complain about the travel request process and prefer a different possibility."
                            }],
                            isRequired: true,
                            name      : "What do you think about executing the process again?"
                        }]
                    }], showPageTitles: false, storeOthersAsComment: false
                });

        survey.onComplete.add(function (s) {
            resultDataInJason = JSON.stringify(s.data);
        });
        survey.showNavigationButtons = false;       // no submit-button from surveyjs
        survey.goNextPageAutomatic   = true;        // after fullfilling questionnaire - finished
        survey.render("SurveyExperiment1");

        $("#nextButton").click(function () {
            // Send back some result data to JATOS
            console.log("The results are:" + resultDataInJason);

            jatos.submitResultData(resultDataInJason, jatos.startNextComponent);
        });
    });
</script>

<hr>

<div class="form-group pull-right">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="nextButton" class="btn btn-primary">Next step</button>
    </div>
</div>

</body>
</html> <!-- SCOPE END pat-->