<!-- NOTE: files have to be in directory /copyBonita/submitTravelRequest.html .. because of JATOS -->

<!DOCTYPE html>

<html ng-app="pat"> <!-- SCOPE pat -->
<head>
    <meta charset="utf8"/>
    <title>PAT - Process Acceptance Testing</title>

    <!-- Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/study_assets/pat/libs/jquery/jquery-3.1.1.min.js"></script>

    <!-- JATOS -->
    <script type="text/javascript" src="/study_assets/pat/libs/jatos/jatos.js"></script>

    <!-- AngularJS -->
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-animate.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-resource.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-route.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-sanitize.js"></script>
    <!--<script type="text/javascript" src="/study_assets/pat/libs/angular/angular-mocks.js"></script>-->
    <!--<script type="text/javascript" src="/study_assets/pat/libs/angular/angular-touch.js"></script>-->
    <!--<script type="text/javascript" src="/study_assets/pat/libs/angular/angular-aria.js"></script>-->
    <!--<script type="text/javascript" src="/study_assets/pat/libs/angular/angular-messages.js"></script>-->

    <!-- 3rd Party -->
    <script type="text/javascript" src="/study_assets/pat/libs/3rdparty/ngBonita.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/3rdparty/ngStorage.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/review.controller.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/submit.controller.js"></script>

    <!-- Service/Factory -->
    <script type="text/javascript" src="/study_assets/pat/scripts/services/processDataOp.service.js"></script>

    <!-- Config -->
    <script type="text/javascript" src="/study_assets/pat/scripts/configs/bonita.conf.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/configs/cookie.conf.js"></script>

    <!-- Local -->
    <script type="text/javascript" src="/study_assets/pat/scripts/app.js"></script>
</head>
</head>

<body>

<!--<div style="text-align: center">
    <h1>Component's Properties:</h1>
    <p id="studyId"></p>
    <p id="componentId"></p>
    <p id="workerId"></p>
    <p id="jsonInputData"></p>
    <p>Press any key to continue</p>
</div>-->

<script>
    // What todo when jatos.js is finished initializing
    jatos.onLoad(function () {

        //BLOCK 1
        // Wait for submitButton to be pressed and then start next component
        $("#nextButton").click(function () {
            jatos.startNextComponent();
        });

        /*
         // BLOCK 2
         // Kann für den Fragebogen am Ende genutzt werden, um die Angaben durch Teilnehmer auszuwerten
         // Wait for any button to be pressed and then submit data and start next component
         $(document).keydown(function(event) {
         // Send back some result data to JATOS
         var componentResultData = "These are some very scientific result data.";
         jatos.submitResultData(componentResultData, jatos.startNextComponent);
         });*/

        /*
         // BLOCK 3
         // Ausgabe von kleineren Informationen
         // Set text with string from component's properties
         $('#studyId').text("Study ID: " + jatos.studyId);
         $('#componentId').text("Component ID: " + jatos.componentId);
         $('#workerId').text("Worker ID: " + jatos.workerId);
         $('#jsonInputData').text("Object 'someText' from JSON input data: " + jatos.componentJsonInput.someText);
         // Wait for any key press and start next component
         $(document).keydown(function (event) {
         jatos.startNextComponent();
         });*/

    });
</script>

<div class="page-header" style="text-align: center">
    <h3>Questionnaire 1</h3>
    <h4>Form 3 - Mechanical Turk</h4>
</div>

<hr>

<div class="form-group pull-right">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="nextButton" class="btn btn-primary">Next step</button>
    </div>
</div>

</body>
</html> <!-- SCOPE END pat-->
