<!-- NOTE: files have to be in directory /copyBonita/submitTravelRequest.html .. because of JATOS -->

<!DOCTYPE html>

<html ng-app="pat"> <!-- SCOPE pat -->
<head>
    <meta charset="utf8"/>
    <title>PAT - Process Acceptance Testing</title>

    <!-- Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/study_assets/pat/libs/jquery/jquery-3.1.1.min.js"></script>

    <!-- JATOS -->
    <script type="text/javascript" src="/study_assets/pat/libs/jatos/jatos.js"></script>

    <!-- AngularJS -->
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-animate.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-resource.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-route.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/angular/angular-sanitize.js"></script>
    <!--<script type="text/javascript" src="/study_assets/pat/libs/angular/angular-mocks.js"></script>-->
    <!--<script type="text/javascript" src="/study_assets/pat/libs/angular/angular-touch.js"></script>-->
    <!--<script type="text/javascript" src="/study_assets/pat/libs/angular/angular-aria.js"></script>-->
    <!--<script type="text/javascript" src="/study_assets/pat/libs/angular/angular-messages.js"></script>-->

    <!-- 3rd Party -->
    <script type="text/javascript" src="/study_assets/pat/libs/3rdparty/ngBonita.js"></script>
    <script type="text/javascript" src="/study_assets/pat/libs/3rdparty/ngStorage.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/review.controller.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/controllers/submit.controller.js"></script>

    <!-- Service/Factory -->
    <script type="text/javascript" src="/study_assets/pat/scripts/services/processDataOp.service.js"></script>

    <!-- Config -->
    <script type="text/javascript" src="/study_assets/pat/scripts/configs/bonita.conf.js"></script>
    <script type="text/javascript" src="/study_assets/pat/scripts/configs/cookie.conf.js"></script>

    <!-- Local -->
    <script type="text/javascript" src="/study_assets/pat/scripts/app.js"></script>
</head>

<body ng-controller="ReviewController"> <!-- Scope ReviewController -->
<script>

    jatos.onLoad(function () {

        //BLOCK 1
        // Wait for nextButton to be pressed and then start next component
        $("#nextButton").click(function (event) {
            jatos.startNextComponent();
        });
    });

</script>

<div class="page-header" style="text-align: center">
    <h3>Approve Travel Request</h3>
    <h4>Form 2 - Mechanical Turk</h4>
</div>

<!-- TODO: Eingabevalierdung -->
<form class="form-horizontal center-block" name="inputForm">

    <!-- TODO: Datepicker implmentieren -->
    <div class="form-group center-block">
        <label for="departureDate" class="col-sm-2 control-label">Departure date</label>
        <div class="col-sm-8">
            <input type="text"
                   id="departureDate"
                   class="form-control"
                   ng-model="departureDate"
                   ng-model-options="{ getterSetter: true }"
                   disabled>
            <!-- To test and see what user is typing, use following code: will display the input simultaneously -->
            <!-- <span ng-bind="departureDate"></span> -->
        </div>
    </div>

    <div class="form-group center-block">
        <label for="numberOfNights" class="col-sm-2 control-label">Number of nights</label>
        <div class="col-sm-8">
            <input type="text"
                   id="numberOfNights"
                   class="form-control"
                   ng-model="numberOfNights"
                   ng-model-options="{ getterSetter: true }"
                   disabled>
            <!-- To test and see what user is typing, use following code: will display the input simultaneously -->
            <!-- <span ng-bind="departureDate"></span> -->

        </div>
    </div>

    <div class="form-group center-block">
        <label class="col-sm-2 control-label">Hotel needed?</label>
        <div class="col-sm-8">
            <input type="checkbox"
                   ng-model="hotelNeeded"
                   disabled>
        </div>
    </div>

    <div class="form-group center-block">
        <label for="destination" class="col-sm-2 control-label">Destination</label>
        <div class="col-sm-8">
            <input type="text"
                   id="destination"
                   class="form-control"
                   ng-model="destination"
                   ng-model-options="{ getterSetter: true }"
                   disabled>
            <!-- To test and see what user is typing, use following code: will display the input simultaneously -->
            <!-- <span ng-bind="departureDate"></span> -->
        </div>
    </div>

    <div class="form-group center-block">
        <label for="reason" class="col-sm-2 control-label">Reason</label>
        <div class="col-sm-8">
            <input type="text"
                   id="reason"
                   class="form-control"
                   ng-model="reason"
                   ng-model-options="{ getterSetter: true }"
                   disabled>
            <!-- To test and see what user is typing, use following code: will display the input simultaneously -->
            <!-- <span ng-bind="departureDate"></span> -->
        </div>
    </div>

    <div class="form-group center-block">
        <label class="col-sm-2 control-label">Review decision</label>
        <div class="col-sm-8">
            <input type="radio"
                   ng-model="reviewDecision"
                   value="approved"
                   disabled> Request approved
        </div>
    </div>

    <div class="form-group center-block">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
            <input type="radio"
                   ng-model="reviewDecision"
                   value="refused"
                   disabled> Request refused
        </div>
    </div>

    <hr>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit"
                    id="nextButton"
                    class="btn btn-primary pull-right">Next step
            </button>
        </div>
    </div>

</form>
</body> <!-- SCOPE END ReviewController -->
</html> <!-- SCOPE END pat-->
